@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@300;400;600;700&display=swap');



body{

    
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

*{

	margin: 0px;
	padding: 0px;
}

.container{
	width:1140px;
	margin: 0px auto;
}

header{
    width: 100%;
    float: left;
    padding: 24px 0;
}

.logo{
    width: 40%;
    float: left;
}

.menu{
    width: 60%;
    float: left;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color:#b7b7b7;
    text-decoration: none;
    font-size: 13.2px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;

}

nav ul li a:hover{
    background-color: #de4545;
    padding: 6px 12px;
    box-shadow: 2px 3px 4px #a246239e;
}



.banner-one{
    width: 100%;
    height: 550px;
    float: left;
    background: url(../img/banner-one.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0,.2);
    background-blend-mode: overlay;   
}



.banner-one-content{
    position: relative;
    padding: 35px 0px;
    top: 85px;
    color: white;
    text-align: center;
   
}


.banner-one-content h2{
    margin-top: 15px;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    
}

.banner-one-content p{
    text-align: center;
    font-size: 35px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 30px;
}



.btn-one{
    background: #99c50a;
    padding: 25px 15px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin: 50px 0px;
}

.banner-two{
   padding: 100px 0px;
    width: 100%;
    float: left;
    text-align: center;
}

.banner-two-content{
    width: 100%;
    float: left;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.banner-two-content img{

}

.banner-two-content h2{
    font-size: 31.2px;
    width: 40%;
    color: #515151;
    padding: 35px 0px;
    margin: 0 auto;
}

.banner-two-content p{
   padding: 25px;
    font-size: 19.2px;
    width: 81%;
    margin: 0 auto;
}

.find-us{
    width: 100%;
    float: left;
}

.find-us-properties{
    width: 50%;
    height: 100%;
    float: left;
    background: #e2f8ff;
}

.find-us-properties-icon{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(35%, 55%);
}

.find-us-properties-contents{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
}

.find-us-properties-contents h2{
    margin-top: 47px;
    margin-bottom: 45px;
    font-size: 23px;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
}


.find-us-properties-contents p{
    margin-bottom: 30px;
    font-size: 16px;
    color: #515151;
    padding: 0 30px 0 0px;
    font-family: 'Open Sans', sans-serif;
}

.properties-btn{
    margin-bottom: 45px;
    background: #26a6d1;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}


.find-us-buyers{
    width: 50%;
    float: left;
    background: #f5f9eb;
}

.find-us-buyers-icon{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(50%, 90%);
}

.find-us-buyer-contents{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
}

.find-us-buyer-contents h2{
    margin-top: 47px;
    margin-bottom: 45px;
    font-size: 23px;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
}

.find-us-buyer-contents p{
    margin-bottom: 30px;
    font-size: 16px;
    color: #515151;
    padding: 0 30px 0 0px;
    font-family: 'Open Sans', sans-serif;
}

.buyers-btn{
    margin-bottom: 45px;
    background: #add136;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.featured-projects{
    width: 100%;
    float: left;
    padding: 60px 0px;
}

.featured-projects-title{
    width: 100%;
    float: left;

}

.featured-projects-des{
    width: 54%;
    float: left;
    display: inline-block;
}

.featured-projects-des h2{
    font-size: 29px;
    color: #515151;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}

.featured-projects-des p{
    font-size: 15px;
    color: #8F8F90;
    font-weight: 400;
    margin-bottom: 45px;
    font-family: 'Open Sans', sans-serif;
}


.featured-projects-top-btn{
    margin-top: 60px;
    float: right;
    margin-right: 2%;
    padding: 10px 15px;
    border: 1px solid #838383;
    border-radius: 5px;
    color: #838383;
    background: transparent;
}

.part-one{
   width: 30%;
    float: left;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 15px 18px;
    transition: all .8s ease-in-out;
    position: relative;
    background: #f9f9f9;
}

.part-one img{
   width: 100%;
}

.part-one-btn{
    position: absolute;
    top: 200px;
    left: 190px;
    background: #26a6d1;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.part-one span{
    font-weight: bolder;
}

.part-one-content{
    width: 85%;
    margin: 0 auto;
    padding: 15px;
}

.part-one-content h2{
    font-size: 17px;
    font-weight: bold;
    color: #484848;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.part-one-content p{
    font-size: 13px;
    color: #484848;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    margin-bottom: 80px;
    word-spacing: 5px;
}

.part-two{
    width: 100%;
    float: left;
    position: relative;
}


.part-two h2:nth-of-type(1){
    font-size: 13px;
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: -45px;
    left: 24px;
}


.part-two h2:nth-of-type(2){
    font-size: 13px;
    color: #8d8d8d;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 50%;
    position: absolute;
    top: -45px;
    left: 218px;
}

.part-two span{
    width: 85%;
    border-bottom: 1px solid lightgrey;
    display: block;
    margin: 0 auto;
}

.part-three{
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.part-three h2{
    display: inline-block;
    width: 90%;
    margin-right: 53px;
    font-size: 15px;
    color: #8b8b8b;
    font-family: 'Open Sans', sans-seri
}

.part-three i{
    color: #add136;
    margin-left: 5px;
}

.footer-sec{
    width: 100%;
    float: left;
}

.footer-sec img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

.footer-sec-content{
    width: 100%;
    float: left;
}

.footer-sec-content span{
    border-bottom: 1px solid lightgrey;
    display: block;
    padding: 20px 0px;
}

.footer-sec-content h3{
    font-size: 13px;
    color: #848484;
    font-family: 'Open Sans', sans-serif;
    margin-top: 28px;
    margin-bottom: 20px;
    text-align: center;
}





